// Colors
$color-white: #fff;
$color-black: #000;
$color-title: #091133;
$color-text: #6F7CB2;
$color-price: #222F65;
$color-logo: #37447E;
$color-base: #23ddd8;

// FontSize
$font-size-base: 16px;
$font-size-title: 36px;
$font-size-button: 12px;
$font-size-logo: 26px;
$font-size-link: 14px;

// Variables
$borderRadius: 2px;
$background-success: #e24d64;
$background-primary: #232447;
$background-gradient: linear-gradient(#3919dc, #010319);
$background: #c6c3c3;

// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;